In [1]:
import pandas as pd
import numpy as np
time_index = pd.date_range('01/01/2023',periods = 100000, freq = '30s')
dataframe=pd.DataFrame(index=time_index)
dataframe['Acess_Amount'] = np.random.randint(1,10,100000)
dataframe.resample('W').sum()

            Acess_Amount
2023-01-01         14371
2023-01-08        101001
2023-01-15        100780
2023-01-22        100753
2023-01-29        101476
2023-02-05         82510

In [2]:
#tìm số huy chương của quốc gia 
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
2306,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
2307,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
2308,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
2309,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
2310,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

In [3]:
print('So huy chuong vang dat duoc: ',data[(data['NOC']=='USA')&(data['Medal']=='Gold')].count())

So huy chuong vang dat duoc:  Year            78
City            78
Sport           78
Discipline      78
NOC             78
Event           78
Event gender    78
Medal           78
dtype: int64

In [4]:
data=data.set_index(data['NOC'])
data.loc['AUT']

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
NOC,,,,,,,,
AUT,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
AUT,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
AUT,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
AUT,1928,St. Moritz,Skating,Figure skating,AUT,individual,M,Silver
AUT,1928,St. Moritz,Skating,Figure skating,AUT,individual,W,Silver
...,...,...,...,...,...,...,...,...
AUT,2006,Turin,Skiing,Nordic Combined,AUT,Team,M,Gold
AUT,2006,Turin,Skiing,Ski Jumping,AUT,K120 individual (90m),M,Gold
AUT,2006,Turin,Skiing,Ski Jumping,AUT,K120 individual (90m),M,Silver
AUT,2006,Turin,Skiing,Ski Jumping,AUT,K120 team (90m),M,Gold
AUT,2006,Turin,Skiing,Snowboard,AUT,Giant parallel slalom,M,Bronze

In [5]:
ata=data.set_index(data['NOC'])
data.loc['AUT']
print('So huy chuong Ao đat đuoc: ',data[(data['NOC']=='USA')&(data['Medal'])].count())

So huy chuong Ao đat đuoc:  Year            216
City            216
Sport           216
Discipline      216
NOC             216
Event           216
Event gender    216
Medal           216
dtype: int64